<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidé mi Contraseña - SANAMED</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='saludmental1.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/style26.css') }}">
</head>
<body>
    <h1>SANAMED</h1>
    <img src="{{ url_for('static', filename='auth/rectangle 6.png') }}" alt="Imagen Superior" class="imagen-superior">
    <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Izquierda" class="imagen-esquinai izquierda">

    <div class="menu-container">
        <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Derecha" class="imagen-esquinad derecha" id="menu-toggle">
        <div class="menu-dropdown" id="menu-dropdown">
            <a href="{{ url_for('auth.login') }}">Login</a>
        </div>
    </div>

    <div class="form-container">
        
        <h2>Olvidé mi Contraseña</h2>
        
        <!-- Mensajes Flash -->
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        
        <form method="POST" action="{{ url_for('auth.forgot_password') }}">
            <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
            <button type="submit">Enviar Token</button>
        </form>
    </div>

    <script>
        // Menú desplegable
        document.getElementById("menu-toggle").addEventListener("click", function() {
            var menu = document.getElementById("menu-dropdown");
            menu.classList.toggle("show");
        });

        // Cerrar menú al hacer clic fuera
        document.addEventListener("click", function(event) {
            var menu = document.getElementById("menu-dropdown");
            var toggle = document.getElementById("menu-toggle");
            
            if (!menu.contains(event.target) && event.target !== toggle) {
                menu.classList.remove("show");
            }
        });
    </script>
</body>
</html>