<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - SANAMED</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='auth/saludmental1.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='auth/style1.css') }}">
</head>
<body>
    <h1 class="titulo-centrado">SANAMED</h1>
    <img src="static/auth/rectangle 6.png" alt="Imagen Superior" class="imagen-superior">
    <img src="static/auth/saludmental1.png" alt="Imagen Esquina Izquierda" class="imagen-esquinai izquierda">
      
    <div class="menu-container">
            <img src="static/auth/saludmental1.png" alt="Imagen Esquina Derecha" class="imagen-esquinad derecha" id="menu-toggle">
            <div class="menu-dropdown" id="menu-dropdown">
                <a href="{{ url_for('auth.index') }}">Inicio</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="left-side">
            <h2>Registrarse</h2>
            <img src="static/auth/saludmental1.png" alt="Icono de salud mental" class="brain-icon">
        </div>
        
        <div class="right-side">
            <div class="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            
            <form action="/signup" method="POST">
                <div class="form-group">
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre Completo" required>
                </div>
                <div class="form-group">
                    <select id="tipo_documento" name="tipo_documento" required title="Seleccione su tipo de documento">
                        <option value="" disabled selected>Tipo de documento</option>
                        <option value="Cedula">Cedula</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Tarjeta Identidad">Tarjeta Identidad</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="numero_documento" name="numero_documento" placeholder="# de Documento" required>
                </div>
                <div class="form-group">
                    <input type="text" id="celular" name="celular" placeholder="Celular" required>
                </div>
                <div class="form-group">
                    <input type="email" id="correo" name="correo" placeholder="Correo Electronico" required>
                </div>
                <div class="form-group">
                    <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn">Registrarse</button>
            </form>

            <div class="register-link">
                Ya tienes una cuenta? <a href="{{ url_for('auth.index') }}">Iniciar sesión</a>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var menuToggle = document.getElementById('menu-toggle');
            var menuDropdown = document.getElementById('menu-dropdown');
        
            menuToggle.addEventListener('click', function() {
                menuDropdown.classList.toggle('show');
            });
        
            // Cerrar el menú si se hace clic fuera de él
            window.addEventListener('click', function(event) {
                if (!event.target.matches('.imagen-esquinad') && !event.target.matches('.menu-dropdown a')) {
                    if (menuDropdown.classList.contains('show')) {
                        menuDropdown.classList.remove('show');
                    }
                }
            });
        });
    </script>
</body>
</html>