/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url("2392606046863777.jpeg") no-repeat center center fixed;
    background-size: cover;
    line-height: 1.6;
}

/* Contenedor principal */
.container {
    width: 1280px;
    height: 760px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    text-align: center;
    margin: 12px;
    font-size: 2.5em;
    color: #000000;
    font-family: "Jomhuria", serif;
}
 h1.titulo-centrado {
    font-size: bold;
}


/* Tabla de emociones */
.emotion-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px auto;
}

.emotion-table th, .emotion-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.emotion-table thead th {
    background-color: #f2f2f2;
}

.emotion-row td {
    color: #000;
}

/* Contenedor para hacer la tabla escroleable */
.appointment-form {
    max-width: 1000px;
    margin: auto;
    height: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 2px;
    overflow-y: auto;  /* Habilita el scroll vertical si hay muchas entradas */
}

button {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: #8DCB9E;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkgreen;
}

.imagen-superior {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
  
  }

.imagen-esquina {
    width: 60px;
    height: auto;
    position: absolute;
    top: 14px;
}

.izquierda {
    left: 100px;
}

.derecha {
    right: 100px;
}

.menu-container {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1000;
    width: 60px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-dropdown a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}


/* Contenedor del encabezado */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
  }
  
  /* Botón de atrás */
  .boton-atras {
    position: absolute;
    left: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    top: 7px;
  }
  
  .boton-atras:hover {
    transform: scale(1.1);
  }
  
  .imagen-flecha {
    width: 40px;
    height: auto;
  }