<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuracion</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='saludmental1.ico ') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user/style21.css') }}"
</head>
<body>
    <h1 class="titulo-centrado">SANAMED</h1>
    <img src="{{ url_for('static', filename='auth/rectangle 6.png') }}" alt="Imagen Superior" class="imagen-superior">
    <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Izquierda" class="imagen-esquinai izquierda">

    <div class="menu-container">
        <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Derecha" class="imagen-esquinad derecha" id="menu-toggle">
        <div class="menu-dropdown" id="menu-dropdown">
            <a href="{{ url_for('user.user_home') }}">Home</a>

            <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>

        </div>
    </div>


    <div class="container">
        <h1 title="Configuracion">Configuracion</h1>

        <div class="settings-v-1">
            <div class="imagen14">
                <img src="{{ url_for('static', filename='user/usuario.png') }}" alt="Imagen 9" title="configuracion">

            </div>
            
            <div class="frame-13-container">
                <div class="frame-13">
                    <div class="login-button">
                        <span class="label" title="Editar Perfil">
                            <a href="/editar_perfil">Editar Perfil</a>
                        </span>
                    </div>
                </div>

                <div class="frame-13">
                    <div class="login-button">
                        <span class="label" title="Sobre Nosotros">
                            <a href="{{ url_for('user.sobre_nosotros') }}">Sobre Nosotros</a>
                        </span>
                    </div>
                </div>

                <div class="frame-13">
                    <div class="login-button">
                        <span class="label" title="Preguntas Frecuentes">
                            <a href="{{ url_for('user.preguntas_frecuentes') }}">Preguntas Frecuentes</a>
                        </span>
                    </div>
                </div>
            </div>
    </div>

    <script>
        //menu
            
                document.addEventListener('DOMContentLoaded', function() {
                    var menuToggle = document.getElementById('menu-toggle');
                    var menuDropdown = document.getElementById('menu-dropdown');
                
                    menuToggle.addEventListener('click', function() {
                        menuDropdown.classList.toggle('show');
                    });
                
                    // Cerrar el menú si se hace clic fuera de él
                    window.addEventListener('click', function(event) {
                        if (!event.target.matches('.imagen-esquinad')) {
                            if (menuDropdown.classList.contains('show')) {
                                menuDropdown.classList.remove('show');
                            }
                        }
                    });
                });
    
            
        </script>
</body>
</html>
