<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes - Sanamed</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='saludmental1.ico ') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profesional/style15.css') }}">
</head>
<body>
    <h1 class="titulo-centrado">SANAMED</h1>
    <img src="{{ url_for('static', filename='auth/rectangle 6.png') }}" alt="Imagen Superior" class="imagen-superior">
    <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Izquierda" class="imagen-esquinai izquierda">

    <div class="menu-container">
        <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Derecha" class="imagen-esquinad derecha" id="menu-toggle">
        <div class="menu-dropdown" id="menu-dropdown">
            <a href="{{ url_for('profesional.profesional_home') }}">Home</a>
            <a href="{{ url_for('auth.editar_perfil') }}">Editar perfil</a>
            <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>

        </div>
    </div>
    <div class="container">
        
        <div class="header-container">
            <a href="javascript:history.back()" class="boton-atras">
                <img src="{{ url_for('static', filename='user/atras.png') }}" alt="Volver atrás" class="imagen-flecha">
            </a>
            <h1>Mis Pacientes</h1>
        </div>
        
        <div class="appointment-form">


            {% if pacientes %}
            <p>Número de pacientes: {{ pacientes|length }}</p>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Número de Documento</th>
                    <th>Celular</th>
                    <th>Correo</th>
                </tr>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.numero_documento }}</td>
                    <td>{{ paciente.celular }}</td>
                    <td>{{ paciente.correo }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No hay pacientes para mostrar.</p>
        {% endif %}
        </div>
        <script>
            //menu
                
                    document.addEventListener('DOMContentLoaded', function() {
                        var menuToggle = document.getElementById('menu-toggle');
                        var menuDropdown = document.getElementById('menu-dropdown');
                    
                        menuToggle.addEventListener('click', function() {
                            menuDropdown.classList.toggle('show');
                        });
                    
                        // Cerrar el menú si se hace clic fuera de él
                        window.addEventListener('click', function(event) {
                            if (!event.target.matches('.imagen-esquinad')) {
                                if (menuDropdown.classList.contains('show')) {
                                    menuDropdown.classList.remove('show');
                                }
                            }
                        });
                    });
        
                
            </script>
</body>
</html>