<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profesional/style12.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='saludmental1.ico ') }}">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Sanamed - Software de Salud Mental</title>
</head>
<body>
    <h1 class="titulo-centrado">SANAMED</h1>
    <img src="{{ url_for('static', filename='auth/rectangle 6.png') }}" alt="Imagen Superior" class="imagen-superior">
    <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Izquierda" class="imagen-esquinai izquierda">

    <div class="menu-container">
        <img src="{{ url_for('static', filename='auth/saludmental1.png') }}" alt="Imagen Esquina Derecha" class="imagen-esquinad derecha" id="menu-toggle">
        <div class="menu-dropdown" id="menu-dropdown">
            <a href="{{ url_for('auth.editar_perfil') }}">Editar perfil</a>
            <a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a>

        </div>
    </div>
    <div class="container">
        <h1 title="Admin Profesional">Bienvenido doc</h1>

        <div class="settings-v-1">
            
            <div class="imagen14">
                <img src="{{ url_for('static', filename='profesional/image 13.png') }}" alt="Imagen 13" title="profesional">
            </div>
            
            <div class="frame-13-container">
                <div class="frame-13">
                    <div class="login-button">
                        <span class="label" title="Pacientes">
                            <a href="{{ url_for('profesional.pacientes') }}">Pacientes</a>                        </span>
                    </div>
                </div>
                
                <div class="frame-13">
                    <div class="login-button">
                        <span class="label" title="Citas asignadas">
                            <a href="{{ url_for('profesional.citas_asignadas') }}">Citas asignadas</a>                        </span>
                    </div>
                </div>
                
                <div class="frame-13">
                    <div class="login-button">
                        <span class="label" title="Diagnósticos">
                            <a href="{{ url_for('profesional.diagnosticos_tratamientos') }}">Diagnosticos y tratamientos</a>                        </span>
                        </span>
                    </div>
                </div>
            </div>
    </div>
    <script>


    //menu
            
    document.addEventListener('DOMContentLoaded', function() {
        var menuToggle = document.getElementById('menu-toggle');
        var menuDropdown = document.getElementById('menu-dropdown');
    
        menuToggle.addEventListener('click', function() {
            menuDropdown.classList.toggle('show');
        });
    
        // Cerrar el menú si se hace clic fuera de él
        window.addEventListener('click', function(event) {
            if (!event.target.matches('.imagen-esquinad')) {
                if (menuDropdown.classList.contains('show')) {
                    menuDropdown.classList.remove('show');
                }
            }
        });
    });
    
    
    </script>
</body>
</html>
